<ion-header>
</ion-header>

<ion-content>
  <ion-list-header>게시판</ion-list-header>
  <ion-label> 글쓰기</ion-label>
  <form [formGroup]="myForm">
    <div>
      <!-- Textarea in an item with a floating label -->
      <ion-item>
          <ion-label position="floating">id</ion-label>
          <ion-input type="text" formControlName="id"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">contents</ion-label>
        <ion-textarea  formControlName="contents"></ion-textarea>
      </ion-item>
      <ion-button (click)="addArticle()">
        Add
      </ion-button>
      <ion-button (click)="getArticle()">
        Get
      </ion-button>
      <ion-button (click)="deleteArticle()">
        delete
      </ion-button>
      <ion-button (click)="modifyArticle()">
        Edit
      </ion-button>
    </div>
  </form>

  <ion-card>
    <ion-card-header>
      Welcome!
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-label position="stacked">ID</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <a>Forgot your login detail? <b>Get help signing in</b></a>
        <button ion-button block outline color="light" (click)="login()">Log in</button>
        <p>OR</p>
        <button ion-button block color="facebook" (click)="register()">
          <ion-icon name="ion-ios-personadd"></ion-icon> New Account
        </button>
        <button ion-button block outline color="light" (click)="loginAuto()">Auto</button>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-row>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>

</ion-content>


<ion-footer mode=ios translucent="true">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>